# Handling Missing Data Replace Method

In [1]:
import pandas as pd
df = pd.read_csv("weather_data1.csv")
df

        day  temperature  windspeed     event
0  1/1/2017           32          6      Rain
1  1/2/2017       -99999          7     Sunny
2  1/3/2017           28     -99999      Snow
3  1/4/2017       -99999          7  no event
4  1/5/2017           32     -99999      Rain
5  1/6/2017           31          2     Sunny
6  1/6/2017           34     -88888  no event

**Replacing single value**

In [2]:
import numpy as np
new_df = df.replace(-99999, np.nan)
new_df

        day  temperature  windspeed     event
0  1/1/2017         32.0        6.0      Rain
1  1/2/2017          NaN        7.0     Sunny
2  1/3/2017         28.0        NaN      Snow
3  1/4/2017          NaN        7.0  no event
4  1/5/2017         32.0        NaN      Rain
5  1/6/2017         31.0        2.0     Sunny
6  1/6/2017         34.0   -88888.0  no event

**Replacing list with single value**

In [3]:
df

        day  temperature  windspeed     event
0  1/1/2017           32          6      Rain
1  1/2/2017       -99999          7     Sunny
2  1/3/2017           28     -99999      Snow
3  1/4/2017       -99999          7  no event
4  1/5/2017           32     -99999      Rain
5  1/6/2017           31          2     Sunny
6  1/6/2017           34     -88888  no event

In [4]:
new_df = df.replace(to_replace=[-99999,-88888], value=0)
new_df

        day  temperature  windspeed     event
0  1/1/2017           32          6      Rain
1  1/2/2017            0          7     Sunny
2  1/3/2017           28          0      Snow
3  1/4/2017            0          7  no event
4  1/5/2017           32          0      Rain
5  1/6/2017           31          2     Sunny
6  1/6/2017           34          0  no event

**Replacing per column**

In [ ]:
new_df = df.replace({
        'temperature': -99999,
        'windspeed': [-99999, -88888],
        'event': 'no event'
    }, np.nan)
new_df

**Replacing by using mapping**

In [ ]:
new_df = df.replace({
        -99999: np.nan,
        -88888: np.nan,
        'no event': 'Sunny',
    })
new_df

**Replacing list with another list**

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
df

In [ ]:
df.replace(['poor', 'average', 'good', 'exceptional'], [1,2,3,4])